<%-include('partials /header') %>
    <div class="container error-container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! Page not found.</div>
        <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
    </div>
<%-include('partials /footer') %>