<%-include('partials/header') %>
<div class="text-center mt-4">
    <h3 class="mb-4">Hello, <%= user.username%>!</h3>
    <div class="d-flex justify-content-center gap-3">
      <a href="/members" class="btn btn-success">Go to Member Area</a>
      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
  </div>
  
<%-include('partials/footer') %>